* {
  margin: 0;
  padding: 0;
}
.navbar {
  border: none;
  background-color: black;
  position: relative;
  color: #61122f;
}
body {
  background-color: #61122f;
  color: black;
}
.glyphicon {
  font-size: 25px;
  color: #bddbe4;
}

.center {
  width: 90%;
  background-color: rgb(176, 140, 223);
}
.container {
  background-color: rgb(153, 186, 201);
  padding-left: 10px;
  margin-left: 75px;
  margin-right: 50px;
  position: relative;
}

.p1 {
  text-align: center;
}

.text-center {
  font-size: 30px;
}

h2 {
  text-align: center;
}

p {
  font-weight: bold;
}

#myNavbar ul li a {
  color: #b9aab0;
  text-align: center;
}
.navbar-brand {
  font-size: 30px;
}
